*,
::before,
::after {
    box-sizing: border-box;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    padding-left: 40px;
}

p{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    padding-left: 40px;
    color: #5B6776;
}