*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  padding-left: 40px;
}

.parrafop {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-left: 40px;
  color: #5b6776;
}

body {
  max-width: 95%;
  margin: auto;
}
