@charset "UTF-8";
header {
  border-bottom: 1px solid #5B6776;
  /* Línea de separación en la parte inferior del header */
  padding-bottom: 10px;
}

main {
  margin-top: 20px;
  /* Margen en la parte superior del main para separarlo del header */
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  padding-left: 40px;
}

.parrafop {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-left: 40px;
  color: #5b6776;
}

body {
  max-width: 95%;
  margin: auto;
}

.Navigation {
  padding: 36px 48px;
}

.Navigation-Items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.Navigation-Item {
  margin-right: 10px;
  cursor: pointer;
}

.Navigation-Item:last-child {
  margin-left: auto;
}

.Navigation-mobile {
  display: none;
}

@media (max-width: 767px) {
  .Navigation {
    display: none;
  }
  .Navigation-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
  }
  .Navigation-Item-mobile {
    cursor: pointer;
  }
  .Item-text {
    display: flex;
    align-items: center;
  }
  .Item-text img {
    margin-right: 5px;
  }
  .parrafo-ahorra-ya {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #4f46e5;
    font-weight: 400;
    font-style: italic;
  }
}
.section-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.card-saludo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 160px;
  border: 1px solid #ccc;
  padding: 16px 24px;
  border-radius: 6px;
}

.card-saludo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.saludo-text {
  display: flex;
  align-items: center;
}

.saludo-text img {
  margin-right: 10px;
}

.card-saludo h2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.card-saludo p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin-top: 20px;
}

.cards {
  width: 25%;
  border-radius: 6px;
  display: flex;
  cursor: pointer;
}

.card-ahorro {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card-ahorro p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-saludo {
    width: 100%;
    margin-bottom: 20px;
  }
  .cards {
    width: 100%;
    height: 120px;
    cursor: pointer;
  }
}
.sections-tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  margin-top: 20px;
}

.section-tarjeta-item {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 24px;
  cursor: pointer;
  margin-bottom: 30px;
}

.tarjeta-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tarjeta-text {
  display: flex;
  align-items: center;
  margin: 0;
}

.tarjeta-text-img {
  margin-right: 10px;
}

.section-tarjeta-item h2 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.file {
  width: 100%;
  height: 15%;
}

.parrafobarra {
  display: flex;
  justify-content: space-between;
}

.monto {
  color: #4f46e5;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.se-monto {
  color: #b8b6f7;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.porcentaje {
  color: #5b6776;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

@media (max-width: 767px) {
  .sections-tarjetas {
    grid-template-columns: 100%;
  }
  .section-tarjeta-item {
    margin-bottom: 20px;
    cursor: pointer;
  }
}
.classcrear {
  height: 124px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.text-button {
  color: #4f46e5;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.btn {
  background-color: #4f46e5;
  color: white;
  padding: 12px;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  border: #4f46e5;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .classcrear {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}/*# sourceMappingURL=styles.css.map */