.classcrear {
    width: 1670px;
    height: 124px;
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.classcrear img {
    margin-top: 20px;
    margin-bottom: 10px;
    /* Ajusta el espacio entre la imagen y el texto */
}

.classcrear p {
    color: #4F46E5;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}