.sections-tarjetas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
.section-tarjeta-item {
    width: 418px;
    height: 225px;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 24px;
}

.tarjeta-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.tarjeta-text {
    display: flex;
    align-items: center;
    margin: 0;
}

.tarjeta-text-img {
    margin-right: 10px;
}

.section-tarjeta-item h2{
    font-size: 18px;
    font-family: "Inter", sans-serif;
}