.Navigation-Items {
    list-style-type: none;
    // padding: 0;
    // margin: 0;
    display: flex;
    justify-content: space-between;
    /* Espaciar los elementos */
}

.Navigation-Item {
    margin-right: 10px;
    /* Espacio entre elementos */
}

.Navigation-Item:last-child {
    // margin-right: 0;
    /* Eliminar margen del último elemento */
    margin-left: auto;
    /* Mover el último elemento a la derecha */
}