header{
    border-bottom: 1px solid #5B6776;
        /* Línea de separación en la parte inferior del header */
        padding-bottom: 10px;
}
main {
    margin-top: 20px;
    /* Margen en la parte superior del main para separarlo del header */
}

